@model GestionHotels.Models.reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateRes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateRes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDebutRes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDebutRes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateFinRes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateFinRes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idRes }) |
    @Html.ActionLink("Back to List", "Index")
</p>
