@model GestionHotels.Models.Hotel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admins.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admins.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idHot }) |
    @Html.ActionLink("Back to List", "Index")
</p>
