@model GestionHotels.Models.servicee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>servicee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descriptions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
